#Compiled class
*.class

### VS Code ###

.vscode/

# Compiled class file

class

*.jar

*.log

# Other File Exclusions

.DS_Store

*.iml

I

#Build Folders Exclusion

idea/

target/

bin/

out/

build/

dist/
